.movieRow {
  margin-bottom: 2rem;
}

.movieRow h2 {
  margin: 0 0 0 30px;
}
.movieRow--listArea {
  width: 100%;
  overflow-x: hidden;
  padding-left: 30px;
}
.movieRow--list {
  width: 88899px;
}
.movieRow--item {
  display: inline-block;
  width: 150px;
}
.movieRow--item img {
  width: 100%;
  transform: scale(0.9);
  transition: 0.2s;
  cursor: pointer;
}

.movieRow--item img:hover {
  transform: scale(1);
}
